@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  padding: 0;
  margin: 0;
}
* {
  text-decoration: none;
  outline: none;
}

#nprogress .bar {
  background: #FF5A3C !important;
  }
  #nprogress .peg {
    box-shadow: 0 0 10px #FF5A3C, 0 0 5px #FF5A3C;
  }
  
  #nprogress .spinner-icon {
    border-top-color: #FF5A3C;
    border-left-color: #FF5A3C;
  }
  .MuiOutlinedInput-notchedOutline {
    border-width: 1px !important;
    border-color: pink !important;
  }
  
  .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: green !important;
  }